<div class="row-fluid">
	<div class="col-md-10">
<h2><%= @post.title %></h2>

<p>
<%= image_tag @post.image_url(:medium).to_s %>  
</p>

<p>
<%= video_tag @post.video_url, :controls => true if @post.video? %>

</p>

<p>
<%= audio_tag @post.audio_url, :controls => true  if @post.audio? %>
</p>


<p>
	<%= @post.text %>
</p>
<p> <%= 'Author: ' + @post.user.first_name %>

<p>Created at <%= @post.created_at %></p>
<p></p>
<p></p>
<p></p>
<p></p>
      
<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment</h2>
<%= render "comments/form" %>
 
<%= link_to content_tag( :span, nil, class: 'glyphicon glyphicon-edit' ), edit_post_path(@post), class: 'btn btn-default' %> 
<%= link_to content_tag( :span, nil, class: 'glyphicon glyphicon-arrow-left' ), posts_path, class: 'btn btn-default' %>
<p></p>
<p></p>
<p></p>
<p></p>
      
        </div>
</div>


<div class="col-md-2">

<h2>Tags</h2>

<p>
<% @tags.each do |tag| %>
	<% if @post.tags.include?( tag ) %>
		<span class="label label-success"><%= link_to( tag.name, { action: 'delete_tag', tag_id: tag.id }, :method => :delete, :style => 'color: white;' ) %></span>
	<% else %>
		<span class="label label-default"><%= link_to( tag.name, { action: 'add_tag', tag_id: tag.id }, :method => :post, :style => 'color: white;' ) %></span>
	<% end %>
<% end %>
</p>
</div>
